<section class="restaurants inner-page">
  <div class="container">

    <div class="section-title" [ngClass]="isManager ? 'd-flex justify-content-between' : ''">
      <h2><span>Restaurants</span></h2>
      <button *ngIf="isManager" class="btn-rounded bg-success" (click)="create()"><i class="icofont-plus"></i> Restaurant</button>
    </div>
    <div *ngIf="restaurants" class="input-group mb-3 search-bar">
      <input type="text" class="form-control" placeholder="Restaurant's Name" aria-label="Restaurant's Name" aria-describedby="basic-addon2" [(ngModel)]="searchText">
      <div class="input-group-append">
        <button class="bg-danger btn-clear" type="button" (click)="clear()"><i class="icofont-close"></i></button>
      </div>
      <div class="input-group-append">
        <div *ngIf="tags" class="dropdown">
          <button class="bg-danger btn-tags dropdown-toggle rounded-0" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Tags
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <div *ngFor="let tag of tags; index as i" class="form-check form-check-inline dropdown-item" (click)="toggle(tag); $event.stopPropagation(); false">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox1" [checked]="searchTags[tag]">
              <label class="form-check-label" for="inlineCheckbox1"> {{ tag }}</label>
            </div>
          </div>
        </div>
      </div>
      <div class="input-group-append">
        <button class="bg-danger search-btn" type="button" (click)="search()"><i class="icofont-ui-search"></i> Search</button>
      </div>
    </div>
    
    <div class="row justify-content-center">
      <p *ngIf="!filtered.length">There are no restaurants :(</p>
      <div *ngFor="let restaurant of filtered" class="col-lg-4 col-md-6">
        <div class="restaurant">
          <div class="image"><img [src]="restaurant.image" class="img-fluid" alt=""></div>
          <div class="restaurant-info">
            <h4 (click)="update(restaurant.id)">{{ restaurant.name }}</h4>
            <span>{{ restaurant.tags | json }}</span>
            <div class="social">
              <a *ngIf="restaurant.twitterLink" [href]="'https://www.twitter.com/' + restaurant.twitterLink"><i class="icofont-twitter"></i></a>
              <a *ngIf="restaurant.facebookLink" [href]="'https://www.facebook.com/' + restaurant.facebookLink"><i class="icofont-facebook"></i></a>
              <a *ngIf="restaurant.instagramLink" [href]="'https://www.instagram.com/' + restaurant.instagramLink"><i class="icofont-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
