.restaurants {
  background: url(/assets/img/restaurants-bg.jpg) center center no-repeat;
  background-size: cover;
  padding: 60px 0;
  position: relative;
}

  .restaurants::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8);
    z-index: 9;
  }

  .restaurants .container {
    position: relative;
    z-index: 10;
  }

  .restaurants .restaurant {
    text-align: center;
    margin-bottom: 80px;
    position: relative;
  }

    .restaurants .restaurant .image {
      overflow: hidden;
    }

    .restaurants .restaurant .restaurant-info {
      position: absolute;
      bottom: -80px;
      left: 20px;
      right: 20px;
      background: #fff;
      padding: 20px 0;
      color: #433f39;
      box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      transition: max-height 0.5s ease-in-out;
    }

    .restaurants .restaurant h4 {
      font-weight: 500;
      margin-bottom: 10px;
      font-size: 16px;
      color: #6c665c;
      position: relative;
      padding-bottom: 10px;
      font-family: "Poppins", sans-serif;
      cursor: pointer;
    }

      .restaurants .restaurant h4::after {
        content: '';
        position: absolute;
        display: block;
        width: 50px;
        height: 1px;
        background: #ffcf88;
        bottom: 0;
        left: calc(50% - 25px);
      }

    .restaurants .restaurant span {
      font-style: italic;
      display: block;
      font-size: 13px;
    }

    .restaurants .restaurant .social {
      margin-top: 15px;
    }

      .restaurants .restaurant .social a {
        transition: color 0.3s;
        color: #7a7368;
      }

        .restaurants .restaurant .social a:hover {
          color: #ffb03b;
        }

      .restaurants .restaurant .social i {
        font-size: 16px;
        margin: 0 2px;
      }

  .restaurants .search-bar input {
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
  }

  .restaurants .search-bar .search-btn {
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
  }

@media (max-width: 992px) {
  .restaurants .restaurant {
    margin-bottom: 110px;
  }
}

@media (min-width: 1024px) {
  .restaurants {
    background-attachment: fixed;
  }
}
