@using Microsoft.AspNetCore.Identity
@using DeliveryApp.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <a id="manage" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" class="mr-2">Hello @UserManager.GetUserName(User)!</a>
    <a id="logout" asp-area="Identity" asp-page="/Account/Logout" class="mr-2">Logout</a>
}
else
{
    <a id="register" asp-area="Identity" asp-page="/Account/Register" asp-route-role="Customer" class="mr-2">Register</a>
    <a id="login" asp-area="Identity" asp-page="/Account/Login" class="mr-2">Login</a>
}
