#hero {
  width: 100%;
  height: 100vh;
  background-color: rgba(39, 37, 34, 0.8);
  overflow: hidden;
  padding: 0;
}

  #hero .carousel-item {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

    #hero .carousel-item::before {
      content: '';
      background-color: rgba(12, 11, 10, 0.5);
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
    }

  #hero .carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }

  #hero .carousel-content {
    text-align: center;
  }

  #hero h2 {
    color: #fff;
    margin-bottom: 30px;
    font-size: 48px;
    font-weight: 700;
  }

    #hero h2 span {
      color: #ffb03b;
    }

  #hero p {
    width: 80%;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    margin: 0 auto 30px auto;
    color: #fff;
  }

  #hero .carousel-inner .carousel-item {
    transition-property: opacity;
    background-position: center top;
  }

  #hero .carousel-inner .carousel-item,
  #hero .carousel-inner .active.carousel-item-left,
  #hero .carousel-inner .active.carousel-item-right {
    opacity: 0;
  }

  #hero .carousel-inner .active,
  #hero .carousel-inner .carousel-item-next.carousel-item-left,
  #hero .carousel-inner .carousel-item-prev.carousel-item-right {
    opacity: 1;
    transition: 0.5s;
  }

    #hero .carousel-inner .carousel-item-next,
    #hero .carousel-inner .carousel-item-prev,
    #hero .carousel-inner .active.carousel-item-left,
    #hero .carousel-inner .active.carousel-item-right {
      left: 0;
      transform: translate3d(0, 0, 0);
    }

  #hero .carousel-control-prev, #hero .carousel-control-next {
    width: 10%;
    opacity: 1;
  }

  #hero .carousel-control-next-icon, #hero .carousel-control-prev-icon {
    background: none;
    font-size: 36px;
    line-height: 1;
    width: auto;
    height: auto;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50px;
    padding: 10px;
    transition: 0.3s;
    color: rgba(255, 255, 255, 0.5);
  }

    #hero .carousel-control-next-icon:hover, #hero .carousel-control-prev-icon:hover {
      background: rgba(255, 255, 255, 0.2);
      color: rgba(255, 255, 255, 0.8);
    }

  #hero .carousel-indicators li {
    cursor: pointer;
  }

  #hero .btn-hero {
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: inline-block;
    padding: 12px 30px;
    border-radius: 50px;
    transition: 0.5s;
    line-height: 1;
    margin: 0 10px;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    color: #fff;
    border: 2px solid #ffb03b;
  }

    #hero .btn-hero:hover {
      background: #ffb03b;
      color: #fff;
    }

@media (max-width: 768px) {
  #hero h2 {
    font-size: 28px;
  }
}

@media (min-width: 1024px) {
  #hero p {
    width: 50%;
  }

  #hero .carousel-control-prev, #hero .carousel-control-next {
    width: 5%;
  }
}

.search-bar {
    width: 50vw;
}

.search-bar input {
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
}

.search-bar .search-btn {
  background: #ffb03b;
  color: #fff;
  border: none;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: 0.3s;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
}

.btn-rounded:hover {
  background: #ffa012;
  color: #fff;
}
