<section id="hero">
  <div class="hero-container">
   <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">


      <div class="carousel-inner" role="listbox">

        <div class="carousel-item active" style="background: url(assets/img/hero.jpg);">
          <div class="carousel-container">
            <div class="carousel-content">
              <h2 class="animate__animated animate__fadeInDown"><span>DeliveryApp</span></h2>
              <div>
                <div class="input-group mb-3 search-bar">
                  <input type="text" class="form-control" placeholder="Restaurant's Name" aria-label="Restaurant's Name" aria-describedby="basic-addon2" [(ngModel)]="searchText">
                  <div class="input-group-append">
                    <button class="search-btn" type="button" (click)="search()"><i class="icofont-ui-search"></i> Search</button>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>


    </div>
  </div>
</section>
