<section id="why-us" class="why-us section-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-title d-flex flex-md-row flex-column justify-content-between align-items-center">
      <div>
        <h2 class="d-none d-md-block">Meals</h2>
        <p class="text-center">Check {{ restaurantName }}'s Branches</p>
      </div>
      <button class="btn btn-warning btn-lg" (click)="addNewBranch()">Add Branch</button>
    </div>

    <div class="flex-row" data-aos="fade-up" data-aos-delay="100">

      <div *ngFor="let branch of branches; index as i" class="col-12">
        <div class="box" data-aos="zoom-in" [attr.data-aos-delay]="(i+1)*100">
          <div class="d-flex flex-row justify-content-between">
            <span>{{ i + 1 }}</span>
            <div>
              <button class="btn btn-warning" (click)="editBranch(branch.id)">Edit</button>
              <button class="btn btn-warning ml-2" (click)="deleteBranch(branch.id)">Delete</button>
              <button class="btn btn-warning ml-2" (click)="showBranchLocation(branch.id)">Location</button>
            </div>
          </div>

          <h4>{{ branch.city | titlecase }} Branch</h4>
          <p>Address: {{ branch.street | titlecase }}, {{ branch.city | titlecase }}, {{ branch.governorate | titlecase }}</p>
          <p>Phone: {{ branch.phone }}</p>
        </div>
      </div>


    </div>

  </div>
</section>
