<div class="meals container">
  <div class="section-title" [ngClass]="isManager ? 'd-flex justify-content-between' : ''">
    <h2><span>Meals</span></h2>
    <button *ngIf="isManager" class="btn-rounded bg-success" (click)="create()"><i class="icofont-plus"></i> Meal</button>
  </div>

  <div *ngIf="meals" class="row">
    <div class="col-lg-12 d-flex justify-content-center">
      <ul id="meals-filters">
        <li *ngFor="let filter of filters; index as i" [attr.data-filter]="filter">{{ menu[i] }}</li>
      </ul>
    </div>
  </div>

  <p *ngIf="meals && !meals.length">There are no meals :(</p>
  <div *ngIf="meals" class="row meals-container">
    <div *ngFor="let meal of meals; index as i" class="col-lg-6 meal" [ngClass]="filterPerMeal[i]">
      <div class="meal-content">
        <a (click)="showDetails(meal.id)" style="cursor: pointer;">{{ meal.name }}</a><span>{{ meal.price }}LE</span>
      </div>
      <div class="meal-description">{{ meal.description }}</div>
      <a *ngIf="isManager" style="cursor: pointer;" (click)="update(meal.id)"><i class="icofont-edit text-primary"></i></a>
      <a *ngIf="isManager" style="cursor: pointer;" (click)="delete(meal.id)"><i class="icofont-ui-delete text-danger"></i></a>
    </div>
  </div>
</div>
