<div class="meals container">
  <div class="section-title" [ngClass]="isManager ? 'd-flex justify-content-between' : ''">
    <h2><span>Meals</span></h2>
    <button *ngIf="isManager" class="btn-rounded" (click)="create()"><i class="icofont-plus"></i> Meal</button>
  </div>

  <div class="row">
    <div class="col-lg-12 d-flex justify-content-center">
      <ul id="meals-filters">
        <li *ngFor="let target of targets; index as i" [attr.data-filter]="target">{{ menu[i] }}</li>
      </ul>
    </div>
  </div>

  <div class="row meals-container">
    <div *ngFor="let meal of meals; index as i" class="col-lg-6 meal" [ngClass]="filterPerMeal[i]">
      <div class="meal-content">
        <a (click)="showDetails(meal.id)" style="cursor: pointer;">{{ meal.name }}</a><span>{{ meal.price }}LE</span>
      </div>
      <div class="meal-description">{{ meal.description }}</div>
    </div>
  </div>
</div>
