
body {
  font-family: "Poppins", sans-serif;
  color: #444444;
}

a {
  color: #ffb03b;
}

  a:hover {
    color: #ffc56e;
    text-decoration: none;
  }

h1, h2, h3, h4, h5, h6 {
  font-family: "Satisfy", sans-serif;
}

#topbar {
  padding: 0;
  font-size: 15px;
  height: 50px;
  transition: all 0.5s;
  background: rgba(26, 24, 22, 0.8);
  color: rgba(255, 255, 255, 0.7);
}

  #topbar.topbar-transparent {
    background: transparent;
  }

  #topbar.topbar-scrolled {
    top: -50px;
  }

  #topbar i {
    color: #ffb03b;
  }

    #topbar i + i {
      margin-left: 15px;
    }

#header {
  top: 50px;
  height: 70px;
  z-index: 997;
  transition: all 0.5s;
  padding: 10px 0;
  background: rgba(26, 24, 22, 0.85);
}

  #header.header-transparent {
    background: transparent;
  }

  #header.header-scrolled {
    top: 0;
    background: rgba(26, 24, 22, 0.85);
  }

  #header .logo h1 {
    font-size: 28px;
    margin: 0;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 3px;
  }

    #header .logo h1 a, #header .logo h1 a:hover {
      color: #fff;
      text-decoration: none;
    }

@media (max-width: 992px) {
  #header {
    top: 0;
    background: rgba(26, 24, 22, 0.85);
  }
}

.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

  .nav-menu > ul > li {
    position: relative;
    white-space: nowrap;
    float: left;
  }

  .nav-menu a {
    display: block;
    position: relative;
    color: white;
    padding: 9px 14px;
    transition: 0.3s;
    font-size: 15px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
  }

    .nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
      color: #ffb03b;
      text-decoration: none;
    }

  .nav-menu .cart a {
    background: #ffb03b;
    color: #fff;
    border-radius: 50px;
    margin: 0 0 0 20px;
    padding: 10px 25px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.3s;
  }

    .nav-menu .cart a:hover {
      background: #ffa012;
      color: #fff;
    }

.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

  .mobile-nav-toggle i {
    color: #fff;
  }

.mobile-nav {
  position: fixed;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: #fff;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0;
}

  .mobile-nav * {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .mobile-nav a {
    display: block;
    position: relative;
    color: #433f39;
    padding: 10px 20px;
    font-weight: 500;
    outline: none;
  }

    .mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
      color: #ffb03b;
      text-decoration: none;
    }

  .mobile-nav .cart a {
    background: #ffb03b;
    color: #fff;
    border-radius: 50px;
    margin: 0 0 0 20px;
    padding: 10px 25px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.3s;
    display: inline-block;
  }

    .mobile-nav .cart a:hover {
      background: #ffa012;
      color: #fff;
    }

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(39, 37, 34, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
}

  .mobile-nav-active .mobile-nav {
    opacity: 1;
    visibility: visible;
  }

  .mobile-nav-active .mobile-nav-toggle i {
    color: #fff;
  }

#footer {
  background: #35322d;
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding: 30px 0;
}

  #footer h3 {
    font-size: 36px;
    font-weight: 700;
    color: #ffb03b;
    position: relative;
    padding: 0;
    margin: 0 0 15px 0;
  }

  #footer p {
    font-size: 15px;
    font-style: italic;
    padding: 0;
    margin: 0 0 40px 0;
  }

  #footer .social-links {
    margin: 0 0 40px 0;
  }

    #footer .social-links a {
      font-size: 18px;
      display: inline-block;
      background: #46423b;
      color: #fff;
      line-height: 1;
      padding: 8px 0;
      margin-right: 4px;
      border-radius: 50%;
      text-align: center;
      width: 36px;
      height: 36px;
      transition: 0.3s;
    }

      #footer .social-links a:hover {
        background: #ffb03b;
      }

  #footer .copyright {
    margin: 0 0 5px 0;
  }

.body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.sticky-footer {
  margin-top: auto;
}

section {
  padding: 60px 0;
}

.section-bg {
  background-color: white;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

  .section-title h2 {
    margin: 15px 0 0 0;
    font-size: 32px;
    font-weight: 700;
    color: #5f5950;
  }

    .section-title h2 span {
      color: #ffb03b;
    }

  .section-title p {
    margin: 15px auto 0 auto;
    font-weight: 300;
  }

@media (min-width: 1024px) {
  .section-title p {
    width: 50%;
  }
}

.inner-page {
  padding: 20px 0;
  /*background-color: #f2f1ef;*/
  min-height: 40px;
  margin-top: 120px;
}

@media (max-width: 992px) {
  .inner-page {
    margin-top: 70px;
  }
}

.btn-rounded {
  background: #ffb03b;
  color: #fff;
  border: none;
  border-radius: 50px;
  margin: 0 0 0 20px;
  padding: 10px 25px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: 0.3s;
}

  .btn-rounded:hover {
    background: #ffa012;
    color: #fff;
  }

.search-bar {
  width: 50vw;
}

  .search-bar input {
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    padding: 20px 25px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
  }

  .search-bar .search-btn {
    background: #ffb03b;
    color: #fff;
    border: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.3s;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    padding: 10px 25px;
  }

.circular-image {
  position: relative;
  border: 5px solid #cda45e;
  border-radius: 50%;
  width: 125px;
  height: 125px;
}

.modal .modal-content {
  border: 2px solid #ffb03b;
  background-color: #1d1b16;
  color: #ffb03b;
}

.modal .modal-header, .modal .modal-footer {
  border: none;
}

.modal .close {
  color: #ffb03b;
  text-shadow: none;
}


.dialog-width {
  width: 500px;
}

#map {
  border: 0;
  width: 100%;
  height: 350px;
}

.component-tabs {
  overflow: hidden;
}

  .component-tabs .nav-tabs {
    border: 0;
  }

  .component-tabs .nav-link {
    border: 0;
    padding: 12px 15px 12px 0;
    transition: 0.3s;
    color: #433f39;
    border-radius: 0;
    border-right: 2px solid #e8e7e4;
    font-weight: 600;
    font-size: 15px;
  }

    .component-tabs .nav-link:hover {
      color: #ffb03b;
    }

    .component-tabs .nav-link.active {
      color: #ffb03b;
      border-color: #ffb03b;
    }

  .component-tabs .tab-pane.active {
    -webkit-animation: fadeIn 0.5s ease-out;
    animation: fadeIn 0.5s ease-out;
  }

  .component-tabs .component-tab h3 {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #433f39;
  }

@media (max-width: 992px) {
  .component-tabs .nav-link {
    border: 0;
    padding: 15px;
  }

    .component-tabs .nav-link.active {
      color: #fff;
      background: #ffb03b;
    }
}

.order-details p {
  font-size: 24px;
  font-weight: 600;
}

.order-details p span {
  font-weight: initial!important;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
}
