<app-hero></app-hero>
<main id="main">
  <section id="root" class="root">
    <div class="container" data-aos="fade-up">
      <h1>Hello, world!</h1>
      {{ user | json }}
      <br />
      {{ baseUrl }}
      <br />
      <button (click)="testToastr()">Test alert</button>
      <br />
      {{ res | json }}
      <!--<input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;">
  <button (click)="file.click()" class="btn btn-warning"></button>
  <span *ngIf="uploaded">{{path}}</span>
  <img [src]="path"/>-->
    </div>
  </section>
  <app-about></app-about>
  <app-why-us></app-why-us>
  <app-menu></app-menu>
  <app-specials></app-specials>
  <app-events></app-events>
  <app-book-a-table></app-book-a-table>
  <app-testimonials></app-testimonials>
  <app-gallery></app-gallery>
  <app-chefs></app-chefs>
  <app-contact></app-contact>
</main>
