<section class="inner-page">
  <div class="container">

    <div class="section-title">
      <h2><span>Update restaurant information</span></h2>
    </div>

    <div class="row align-items-center">
      <div class="col-12 col-md-3 p-3">
        <div class="row justify-content-center">
          <app-upload (onUploaded)="uploaded($event)" [image]="image"></app-upload>
        </div>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-12 form-group">
            <input type="text" name="name" class="form-control" id="name" placeholder="Name" [(ngModel)]="name">
          </div>
          <div class="col-lg-4 col-12 form-group">
            <input type="url" name="facebook" class="form-control" id="facebook" placeholder="Facebook" [(ngModel)]="facebook">
          </div>
          <div class="col-lg-4 col-md-6 form-group">
            <input type="url" name="twitter" class="form-control" id="twitter" placeholder="Twitter" [(ngModel)]="twitter">
          </div>
          <div class="col-lg-4 col-md-6 form-group">
            <input type="url" name="instagram" class="form-control" id="instagram" placeholder="Instagram" [(ngModel)]="instagram">
          </div>
          <tag-input class="col-12 form-group" [(ngModel)]="_tags" [ngModelOptions]="{standalone: true}" [editable]="true" [identifyBy]="'id'" [displayBy]="'name'" [theme]="'dark'" placeholder="Tags" secondaryPlaceholder="Tags"></tag-input>
          <tag-input class="col-12 form-group" [(ngModel)]="_menu" [ngModelOptions]="{standalone: true}" [editable]="true" [identifyBy]="'id'" [displayBy]="'name'" [theme]="'dark'" placeholder="Menu" secondaryPlaceholder="Menu"></tag-input>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="text-center"><button class="btn-rounded bg-primary" (click)="update()">Update</button></div>
    </div>
  </div>
</section>
