<section class="inner-page">
  <div class="container">

    <div class="section-title">
      <h2><span>Cart</span></h2>
    </div>

    <p *ngIf="_cart && !cart.length">Cart is empty :(</p>
    <div *ngIf="_cart && _cart.length" class="table-responsive w-100">
      <table class="table">
        <thead>
          <tr>
            <th scope="col" style="width: 10%;">#</th>
            <th scope="col" style="width: 40%;">Name</th>
            <th scope="col" style="width: 10%;">Quantity</th>
            <th scope="col" style="width: 30%;">Price</th>
            <th scope="col" style="width: 10%;"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of _cart; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ item.name | titlecase }}</td>
            <td><input (change)="changeQuantity($event, item.mealId)" [value]="item.quantity" type="number" class="form-control" min="1" max="10"></td>
            <td>{{ item.price }}LE * {{ item.quantity }} = {{ item.price * item.quantity }}LE</td>
            <td>
              <button class="btn btn-danger" (click)="delete(item.mealId)"><i class="icofont-ui-delete"></i></button>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr class="table-info">
            <th scope="col" colspan="3">Total</th>
            <td colspan="2">{{ total }}LE</td>
          </tr>
        </tfoot>
      </table>
    </div>

    <div class="row justify-content-center">
      <button *ngIf="_cart && _cart.length" class="btn-rounded btn-lg" (click)="checkOut()">Check Out</button>
    </div>
  </div>
</section>
