<section id="topbar" class="d-none d-lg-flex align-items-center fixed-top" [ngClass]="isHome('topbar')">
  <div class="container text-right">
    <a *ngIf="isAuthenticated" [routerLink]='["/authentication/profile"]' title="Manage" class="mr-2">Hello {{ userName }}</a>
    <a *ngIf="isAuthenticated" [routerLink]='["/authentication/logout"]' [state]='{ local: true }' title="Logout" class="mr-2">Logout</a>
    <a *ngIf="!(isAuthenticated)" [routerLink]='["/authentication/register"]' [queryParams]="{ role: 'Customer' }" queryParamsHandling='merge' class="mr-2">Register</a>
    <a *ngIf="!(isAuthenticated)" [routerLink]='["/authentication/login"]' class="mr-2">Login</a>
  </div>
</section>

<header id="header" class="fixed-top d-flex align-items-center" [ngClass]="isHome('header')">
  <div class="container d-flex align-items-center">

    <div class="logo mr-auto">
      <h1 class="text-light"><a [routerLink]='["./"]'><span>DeliveryApp</span></a></h1>
    </div>

    <nav class="nav-menu d-none d-lg-block">
      <ul>
        <li class="active"><a [routerLink]='["./"]'>Home</a></li>
        <li class="active"><a [routerLink]='["./restaurants"]'>Restaurants</a></li>
        <li *ngIf="isAuthenticated" class="active"><a [routerLink]='["./orders"]'>Orders</a></li>

        <li class="cart text-center"><a [routerLink]='["./orders/cart"]' data-toggle="tooltip" data-placement="bottom" [title]="cartLength">Cart <i class="icofont-opencart"></i></a></li>
      </ul>
    </nav>

  </div>
</header>
